<div class="">
    <div class="container py-3 d-flex justify-content-between">
        <span class="fs-4">Diet - Set up your diet</span>
        <span class="bi-arrow-left fs-3" [routerLink]="'/'"></span>
    </div>
    <div class="container  border-white py-5 border-top border-bottom  d-flex justify-content-between">
        <div> </div>

        <div>
            <lib-add-user></lib-add-user>
        </div>
    </div>
    <div class="container py-5">
        <lib-list-users></lib-list-users>
    </div>
</div>